$primary-light: #8b8ba3;
$primary: #3c3c7a;
$primary-dark: #2e2e4d;
$secondary-light: #d19194;
$secondary: #b3474c;
$secondary-dark: #863539;
$white: #ffffff;
$gray-lighter: #f3f3f3;
$gray-light: #e6e6e6;
$gray: #999999;
$black: #3d3935;

$success: #50aa5f;
$error: #c74747;
$warning: #dd8c40;
$info: #37aad8;